body {
    padding: 0;
    margin: 0;
    font-family: Arial, Geneva, sans-serif;
    margin-bottom: 3em;
}

p {
    font-size: 2em;
}

h2 {
    font-size: 4em;
}

.half {
    margin: 0 auto;
    width: 300px;
}

.main {
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

#navbar {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: black;
    color: white;
    text-align: center;
    display: block;
}

#nav-text {
    padding-top: 10px;
}

#nav-text a {
    color: white;
    text-decoration: none;
    font-size: 2.5em;
}

#controls {
    margin-right: 20px;
    float: right;
    display: block;
}

#controls a {
    /*margin-top: 1.2em;*/
    float: right;
    text-decoration: none;
    color: white;
    font-size: 3em;
    line-height: 3em;
}

#controls a:hover {
    text-decoration: underline;
}

#controls p {
    margin-top: 20px;
    float: left;
}

#content {
    text-align: center;
}

#map {
    width: 70%;
}

.button {
    display: inline-block;
    padding: 5%;
    margin: 20px;
    width: 30%;
    background-color: #39AA56;
    color: white;
    border: 0 none;
    border-radius: 15px;
    font-size: 4em;
    text-decoration: none;
}

.logBut {
    display: inline-block;
    padding: 5%;
    background-color: #39AA56;
    color: white;
    border: 0 none;
    border-radius: 15px;
    font-size: 3em;
    text-decoration: none;
}

.blue {
    background-color: #2B90D9;
}

.spacer {
    width: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

.margin-right {
    margin-right: 20px;
}

.auto {
    text-align: left;
}

label {
    font-size: 1.5em !important;
}

#id_password, #id_username, #id_first_name, #id_last_name, #id_email {
    border: black 1px solid;
    height: 3em;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 1.5em;
}

#id_password:focus, #id_username:focus, #id_first_name:focus, #id_last_name:focus, #id_email:focus {
    height: 3em;
}

form {
    display: inline-block;
}

label {
    font-size: 4em;
}

.parent {
    text-align: center;
}

.errorlist li {
    list-style: none;
    color: darkred;
}


.option-block {
    margin: 1em 0em;
}

.option-block p {
    display:inline;
}
