.grey-text {
    color: #BDBDBD;
}

.hidden {
    display: none;
}

.vertical-line {
    float: left;
    width: 4px;
    height: 100%;
    background-color: #E0E0E0;
    margin-left: 10px;
    margin-right: 10px;
}

.topic-container p {
    margin-bottom: 0;
}

.topic-name {
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-decoration: underline;
}

.full-width {
    width: 100%;
    position: relative;
}

table {
    width: 100%;
}

.topic-name:hover {
    cursor: pointer;
}

.color-block {
    float: left;
    width: 15px;
    height: 100%;
    background-color: #E0E0E0;
    margin-left: 10px;
    margin-right: 10px;
}

.circle {
    position: absolute;
    float: left;
    background-color: #E0E0E0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 4px;
    margin-right: 15px;
}

.no-space {
    margin: 0;
    padding: 0;
}

#edit-panel {
    width: 47.5%;
    background-color: #e0e0e0;
    float: left;
    height: 400px;
    margin-right: 5%;
}

#preview-panel {
    width: 47.5%;
    background-color: #e0e0e0;
    float: left;
    height: 400px;
}