{% extends "admin/base_site.html" %}
{% block coltype %}flex{% endblock %}
{% block content %}

{% load static %}

<script src="{% static 'core/jquery.min.js' %}"></script>
<script src="{% static 'core/jquery.cookie.js' %}"></script>
<script src="{% static 'core/events.js' %}"></script>

<h1>{{ object }}</h1>

<div class="module">
    <h3>Questions</h3>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>CONTENT</th>
            <th>SUBJECT</th>
            <th>STATE</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for question in object.get_questions %}
        <tr>
            <td class="field-id"><a href="/admin/core/question/{{ question.id }}/change/">{{ question.id }}</a></td>
            <td class="field-content">{{ question.content|truncatechars:20 }}</td>
            <td class="field-subject">{{ question.subject }}</td>
            <td class="field-state">{{ question.get_state }}</td>
            <td class="field-up">
                <a class="move-link" href="javascript:void(null);"
                   url="/admin/core/question/{{ question.id }}/move-up/?">
                    <img src="/static/ordered_model/arrow-up.gif">
                </a>
            </td>
            <td class="field-down">
                <a class="move-link" href="javascript:void(null);"
                   url="/admin/core/question/{{ question.id }}/move-down/?">
                    <img src="/static/ordered_model/arrow-down.gif">
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
</div>

{% endblock %}