{% extends "admin/base_site.html" %}
{% block coltype %}flex{% endblock %}
{% block content %}

{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/mathquill.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/katex.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/questionForm.css' %}"/>
{% endblock %}

<script src="{% static 'core/jquery.min.js' %}"></script>
<script src="{% static 'core/jquery.cookie.js' %}"></script>
<script src="{% static 'core/events.js' %}"></script>

<script src="{% static 'core/mathquill.min.js' %}"></script>
<script src="{% static 'core/katex.min.js' %}"></script>
<script src="{% static 'core/uuid.js' %}"></script>
<div id="toolbar_container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><span>Frequently Used</span></label>
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><span>Other</span></label>
</div>
<div class="module full-width">
    <p><b>State: </b>{{ question.get_state }}</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-row field-subject">
            <div>
                <label class="required"><b>Subject:</b></label>
                {{ question_form.subject }}
            </div>
            <input type="hidden" name="question_id" value="{{ question.id }}"/>
        </div>
    </form>
    <div id="content-container">
        <div id="edit-panel"></div>
        <div id="preview-panel"></div>
    </div>
    <div class="module">
        &nbsp;
    </div>
    <div class="comments">
        {% for comment in question.get_comments %}
        <div>
            <p class="float-left large-p"><b>{{ comment.user.get_full_name|default:comment.user }}</b></p>
            <p class="float-left small-p grey-text">{{ comment.created_at|naturaltime }}</p>
            <p class="clear">{{ comment.text }}</p>
        </div>
        {% endfor %}
        <form onsubmit="return false;">
            {% csrf_token %}
            {{ form.text }}
            {{ form.text.errors }}
            <input class="float-right comment-button" datasrc="{{ question.id }}" type="submit" value="Comment"/>
        </form>
    </div>

    <div class="module">
        &nbsp;
    </div>
    <div class="module">
        &nbsp;
    </div>
    <div class="submit-row">
        <input type="submit" value="Save and send to moderator" >
        <input type="submit" value="Save and continue editing" >
        <input class="default" type="submit" >
    </div>
</div>
{% autoescape off %}
<script>
    var global_question_id = '{{question.id}}';
</script>
{% endautoescape %}
<script src="{% static 'core/setupQuestionForm.js' %}"></script>
<script src="{% static 'core/questionForm.js' %}"></script>
<script src="{% static 'core/fetchQuestionInfo.js' %}"></script>
<script src="{% static 'core/setupToolbar.js' %}"></script>
{% autoescape off %}
<script>
    fetchQuestionInfo();
    addToolbarButtons();
</script>
{% endautoescape %}

{% endblock %}
