{% extends "admin/base_site.html" %}
{% block coltype %}flex{% endblock %}
{% block content %}

{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/mathquill.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/katex.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/questionForm.css' %}"/>
<link rel="stylesheet" type="text/css" href="
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
{% endblock %}

<script src="{% static 'core/jquery.min.js' %}"></script>
<script src="{% static 'core/jquery.cookie.js' %}"></script>
<script src="{% static 'core/events.js' %}"></script>

<script src="{% static 'core/mathquill.min.js' %}"></script>
<script src="{% static 'core/katex.min.js' %}"></script>
<script src="{% static 'core/uuid.js' %}"></script>
<div id="toolbar_container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><span>Frequently Used</span></label>
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><span>Other</span></label>
</div>
<div class="module full-width">
    <p><b>State: </b>{{ question.get_state }}</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-row field-subject">
            <div>
                <label class="required"><b>Subject:</b></label>
                {{ question_form.subject }}
            </div>
            <input type="hidden" name="question_id" value="{{ question.id }}"/>
            <input id="subject_form_button" type="submit" value="" style="display:none;">
        </div>
    </form>
    <div id="content-container">
        <div id="edit-panel"></div>
        <div id="preview-panel">
            {% if preview_available %}
            <h3>Question</h3>
            {{ question.question_content | safe}}
            <h3>Options</h3>
            {% for option in options %}
                <div class="option-block">
                    <input name="option" id="{{ forloop.counter }}" type="radio" value="{{ option.id }}">
                    {{ option.content | safe}}
                </div>
            {% endfor %}
            <h3>Answer</h3>
            {{ question.answer_content | safe}}
        {% else %}
        <p>This is a new question, you need to save before you can see a preview</p>
        {% endif %}
        </div>
    </div>
    <div class="module">
        &nbsp;
    </div>
    <div class="comments">
        {% for comment in question.get_comments %}
        <div>
            <p class="float-left large-p"><b>{{ comment.user.get_full_name|default:comment.user }}</b></p>
            <p class="float-left small-p grey-text">{{ comment.created_at|naturaltime }}</p>
            <p class="clear">{{ comment.text }}</p>
        </div>
        {% endfor %}
        <form onsubmit="return false;">
            {% csrf_token %}
            {{ form.text }}
            {{ form.text.errors }}
            <input class="float-right comment-button" datasrc="{{ question.id }}" type="submit" value="Comment"/>
        </form>
    </div>

    <div class="module">
        &nbsp;
    </div>
    <div class="module">
        &nbsp;
    </div>
    <div class="submit-row">
        <input id="save_button" class="default" type="submit" >
    </div>
</div>
{% autoescape off %}
<script>
    var global_question_id = '{{question.id}}';
</script>
{% endautoescape %}
<script src="{% static 'core/setupQuestionForm.js' %}"></script>
<script src="{% static 'core/questionForm.js' %}"></script>
<script src="{% static 'core/fetchQuestionInfo.js' %}"></script>
<script src="{% static 'core/setupToolbar.js' %}"></script>
{% autoescape off %}
<script>
    // create the form
    setupToolbar()

    getData(
        '../../../question_content/' + '?question_id=' + global_question_id,
        "/media/optimised_media/");
    addToolbarButtons();
    // add function listeners 'postInfo()'
    $("#save_button").on("click",function(){
        postInfo('../../../question_content/file_upload/', '../../../question_content/', true);
    })
</script>
{% endautoescape %}

{% endblock %}
