{% extends "admin/base_site.html" %}
{% load static %}


{% load bootstrap3 %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>

<script src="{% static 'core/jquery.min.js' %}"></script>
<script src="{% static 'core/jquery.cookie.js' %}"></script>
<script src="{% static 'core/events.js' %}"></script>
<script src="{% static 'core/randomColor.js' %}"></script>
<!--<link rel="stylesheet" type="text/css" href="{% static 'core/bootstrap.min.css' %}" />-->
{% endblock %}

{% block coltype %}flex{% endblock %}
{% block content %}

{% load widget_tweaks %}
{% load humanize %}

<div class="g-d-c">
    <p>Assigned to: {{ object.assigned_to.get_full_name }}</p>
    <div class="grp-module">
        <p>{{ object.description }}</p>
    </div>

    <div class="module">
        {% for block in block_list %}
        <p> {{ block.description}}</p>
        <table class="table">
            {% for question in block.get_questions %}
            <tr>
                <td class="color-td"></td>
                <td><a href="/questions/{{ question.id }}/edit/">{{ question }}</a></td>
                <td>{{ question.order }}</td>
                <td>
                    <select class="state-select" about="{{ question.id }}">
                        {% if question.state == 0 %}
                        <option selected value="0">Incomplete</option>
                        <option value="1">Review Ready</option>
                        {% elif question.state == 1 %}
                        <option selected value="1">Review Ready</option>
                        <option value="2">Needs Reworking</option>
                        <option value="3">Complete</option>
                        {% elif question.state == 2 %}
                        <option value="1">Review Ready</option>
                        <option selected value="2">Needs Reworking</option>
                        <option value="3">Complete</option>
                        {% elif question.state == 3 %}
                        <option selected value="3">Complete</option>
                        <option value="4">Flagged</option>
                        {% elif question.state == 4 %}
                        <option value="3">Complete</option>
                        <option selected value="4">Flagged</option>
                        {% endif %}
                    </select>
                </td>
                <td class="field-up">
                    <a class="move-link" href="javascript:void(null);"
                       url="/questions/{{ question.id }}/up/">
                        <img src="/static/ordered_model/arrow-up.gif">
                    </a>
                </td>
                <td class="field-down">
                    <a class="move-link" href="javascript:void(null);"
                       url="/questions/{{ question.id }}/down/">
                        <img src="/static/ordered_model/arrow-down.gif">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br/>
        {% endfor %}
    </div>
</div>

<script>
    $(function () {
        var count = 0;
        $(".table").each(function() {
            var color = randomColor({seed: count});
            $(this).find(".color-td").css("background-color", color)
                                        .css("border", color + " 1px solid");
            count += 10;
        })
    });
</script>
<!--{% for comment in question.get_comments %}-->
<!--<p><b>{{ comment.user }}</b></p>-->
<!--<p class="float-right grey-text">{{ comment.created_at|naturaltime }}</p>-->
<!--<p>{{ comment.text }}</p>-->
<!--{% endfor %}-->
<!--<form class="hidden" action="/comments/" method="post">-->
<!--{% csrf_token %}-->
<!--{{ form.text }}-->
<!--{{ form.text.errors }}-->
<!--{% render_field form.question_id value=question.id %}-->
<!--<input type="submit" value="Send" />-->
<!--</form>-->


{% endblock %}