{% extends "admin/base_site.html" %}
{% load static %}
{% load bootstrap3 %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
<!--<link rel="stylesheet" type="text/css" href="{% static 'core/grid12.css' %}" />-->
{% endblock %}

{% block coltype %}flex{% endblock %}
{% block content %}

{% load widget_tweaks %}
{% load humanize %}

<h1>{{ object }}</h1>
<div class="module">
    <p>{{ object.description }}</p>
</div>

<div class="module">
    {% for question in question_list %}
        <p>{{ question.content }}</p>
        {% for comment in question.get_comments %}
            <p><b>{{ comment.user }}</b></p>
            <p class="float-right grey-text">{{ comment.created_at|naturaltime }}</p>
            <p>{{ comment.text }}</p>
        {% endfor %}

        <form action="/comments/" method="post">
            {% csrf_token %}
            {{ form.text }}
            {{ form.text.errors }}
            {% render_field form.question_id value=question.id %}
        <input type="submit" value="Send" />
        </form>

    {% endfor %}
</div>

{% endblock %}