{% extends "admin/base_site.html" %}
{% block coltype %}flex{% endblock %}
{% block content %}

{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>
{% endblock %}

<script src="{% static 'core/jquery.min.js' %}"></script>

<div class="module full-width">
    <ul class="object-tools">
        <li>
            <a href="/admin/core/syllabus/add/" class="addlink">Add Syllabus</a>
        </li>
    </ul>
    <div class="spaced-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>GRADE</th>
                <th>STUDENTS</th>
                <th>TOPICS</th>
                <th>QUESTIONS</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
        <tr>
            <td class="field-id"><a href="/syllabi/{{ syllabi.id }}/">{{ obj.syllabus.id }}</a></td>
            <td class="field-grade">{{ obj.syllabus.grade }}</td>
            <td class="field-users">{{ obj.students }}</td>
            <td class="field-topics">{{ obj.topics }}</td>
            <td class="field-questions">{{ obj.questions }}</td>
            <td align="center" class="field-timeline">
                <a class="go-button" href="/syllabi/{{ obj.syllabus.id }}/">View Syllabus</a>
            </td>
            <td align="center" class="field-timeline">
                <a class="move-link other-button" href="/syllabi/{{ obj.syllabus.id }}/timeline/">Timeline</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    <p class="paginator"></p>
    <br/>
</div>

{% endblock %}