{% extends "admin/base_site.html" %}
{% block coltype %}flex{% endblock %}
{% block content %}

{% load static %}

<script src="{% static 'core/jquery.min.js' %}"></script>
<script src="{% static 'core/jquery.cookie.js' %}"></script>
<script src="{% static 'core/events.js' %}"></script>

<h1>Syllabus</h1>
<div class="module">
    <p>{{ object }}</p>
    {% for topic in topic_list %}
    <p>{{ topic }}</p>
    {% for block in topic.get_blocks %}
    <p>{{ block.order }} {{ block.id }}</p>
    <a class="move-link" href="javascript:void(null);" url="/admin/core/block/{{ block.id }}/move-up/?">Up</a>
    <a class="move-link" href="javascript:void(null);" url="/admin/core/block/{{ block.id }}/move-down/?">Down</a>
    {% endfor %}
    {% endfor %}
</div>

{% endblock %}