{% extends "admin/base_site.html" %}
{% block coltype %}flex{% endblock %}
{% block content %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}"/>
{% endblock %}

<script src="{% static 'core/jquery.min.js' %}"></script>

<div class="module full-width">
    <ul class="object-tools">
        <li>
            <a href="/admin/core/task/add/" class="addlink">Add Task</a>
        </li>
    </ul>
    <div class="results">
        <div id="changelist-filter">
            <h2>Filter</h2>
            <h3>By status</h3>
            <ul>
                <li class="{% if open == None %}selected{% endif %} filter-option"><a
                        href="/tasks/">All</a></li>
                <li class="{% if open == 'true' %}selected{% endif %}"><a
                        href="/tasks/?open=true">Open</a></li>
                <li class="{% if open == 'false' %}selected{% endif %}"><a
                        href="/tasks/?open=false">Closed</a></li>
            </ul>
            <h3>By assignment</h3>
            <ul>
                <li class="{% if assigned_to == None %}selected{% endif %} filter-option"><a
                        href="/tasks/">All</a></li>
                <li class="{% if assigned_to %}selected{% endif %}"><a
                        href="/tasks/?assigned_to=true">{{ user.get_full_name }}</a></li>
            </ul>
        </div>
        <div class="spaced-table">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ASSIGNED BY</th>
                    <th>ASSIGNED TO</th>
                    <th>TOPIC</th>
                    <th>DESCRIPTION</th>
                    <th>STATUS</th>
                </tr>
                </thead>
                <tbody>
                {% for task in object_list %}
                <tr>
                    <td class="field-id"><a href="/tasks/{{ task.id }}/">{{ task.id }}</a>
                    </td>
                    <td class="field-assigned-by">{{ task.assigned_by }}</td>
                    <td class="field-assigned-to">{{ task.assigned_to }}</td>
                    <td class="field-topic">{{ task.topic }}</td>
                    <td class="field-description">{{ task.description }}</td>
                    <td class="field-open">
                        {% if task.open %}
                        Open
                        {% else %}
                        Closed
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--<p class="paginator"></p>-->
    <br/>
</div>

{% endblock %}