{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>

<script src="{% static 'core/jquery.min.js' %}"></script>
<script src="{% static 'core/jquery.cookie.js' %}"></script>
<script src="{% static 'core/randomColor.js' %}"></script>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; {{ syllabus }} Timeline
</div>
{% endblock %}

{% block coltype %}flex{% endblock %}
{% block content %}

<div class="g-d-c">
    <div class="full-width">
        <div id="calendar">
        </div>
    </div>
    <br>
    <div id="timeline">
        {% for topic in data %}
        {% if topic.spaced %}
            <div class="spacer">
                <div class="circle"></div>
            </div>
        {% endif %}
        <div class="topic" style="height: {{ topic.space }}px">
            <div class="circle"></div>
            <div class="vertical-line"></div>
            <p>Week {{ topic.week_start }}</p>
            <div class="topic-container" style="height: {{ topic.space|add:'-30' }}px">
                <div class="color-block"></div>
                <a class="topic-name" href="/topics/{{ topic.id }}/">{{ topic.name }}</a>
                <p>{{ topic.duration }} week{{topic.duration|pluralize}}</p>
                <p>{{ topic.number_of_questions }} question{{topic.number_of_questions|pluralize}}</p>
            </div>
        </div>
        {% endfor %}
        <div class="circle"></div>
    </div>
</div>
{% autoescape off %}
<script>
    $(".color-block").each(function () {
        $(this).css("background-color", randomColor());
    });

    $(function () {
        var weeks = '{{json}}';
        weeks = JSON.parse(weeks);

        var width = parseInt($("#calendar").css("width").slice(0, -2)) - 10;
        var blockWidth = width / 52 - 2; // Less border width
        var count = 0;

        // Loop through all weeks and determine if blocks colouring in
        for (var i = 1; i <= 52; i++) {
            if (count >= weeks.length) {
                $("#calendar").append('<div class="calendar-none" style="width:' + blockWidth + 'px;' + '"><p class="cal-txt">' + i + '</p></div>');
            }
            else if (i < weeks[count]['week_start']) {
                $("#calendar").append('<div class="calendar-none" style="width:' + blockWidth + 'px;' + '"><p class="cal-txt">' + i + '</p></div>');
            }
            else if (i >= weeks[count]['week_start'] && i <= weeks[count]['week_end']) {
                $("#calendar").append('<div class="calendar-fill" style="width:' + blockWidth + 'px;' + '"><p class="cal-txt">' + i + '</p></div>');
            }
            else {
                count++;
                i--;
            }
        }

        $("#id_syllabus").on("change", function () {
            var value = $(this).find(":selected").attr("value");
            window.location.href = "/topic_create_wizard/?syllabus=" + value;
        });
    });
</script>
{% endautoescape %}
{% endblock %}
