<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'student/student.css' %}"/>
    <title>Dig-it</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
<div id="navbar">
    <div id="controls">
        {% if user.is_authenticated %}
            <p class="left">Welcome, <b>{{ user.first_name }}</b>&emsp;|&emsp;</p>
            <a href="/logout/">Logout</a>
        {% endif %}
    </div>
    <div class="half">
        <h1 id="nav-text"><a href="/">Dig-it</a></h1>
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>