{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'core/katex.min.css' %}"/>
{% endblock %}
{% block content %}
    {% if question %}
        {{ question.question_content | safe}}
        {{ form.question }}
        {% for option in options %}
            <div class="option-block">
                <input name="options" id="{{ forloop.counter }}" type="radio" value="{{ option.id }}">
                {{ option.content | safe}}
            </div>
        {% endfor %}
        <input type="submit" class="logBut" value="Submit Answer"/>
    {% else %}
    <p>You have completed all questions in the available pool.</p>
    {% endif %}
{% endblock %}

