{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="post">{% csrf_token %}
    {% if question %}
        {{ question.question_content | safe}}
        {{ form.question }}
        {% for option in options %}
            <div class="option-block">
                <input name="option" id="{{ forloop.counter }}" type="radio" value="{{ option.id }}">
                {{ option.content | safe}}
            </div>
        {% endfor %}
        <input type="submit" class="logBut" value="Submit Answer"/>
    </form>
    {% else %}
    <p>You have completed all questions in the available pool.</p>
    {% endif %}
{% endblock %}
